
@row-gaps-size: .3em;
@tab-size: 2em;

.form-chapter{

    color: red;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    row-gap: @row-gaps-size;

    label.timestamp{
        &::before{
            content: "";
            padding-left: @tab-size;
        }
    }

    .groups{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-start: 1;
        grid-column-end:3;
        row-gap: @row-gaps-size;

        label{
            &::before{
                content: "";
                padding-left: @tab-size;
            }
        }
        input[type="text"]{
            height: 2em;
        }
    }

    .group-add-button{
        width: 30%;
        margin-left: auto;
        margin-right: auto;

        grid-column-start: 1;
        grid-column-end: 4;
    }

    .group-label{
        grid-column-end: 3;
    }

    .imgur-preview{
        background-color: green;
        height: 20em;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 3;
    }

}