@import './cs16.less';
@row-gaps-size: .3em;
@tab-size: 2em;


.chapter-row{
    margin-top: .7em;

    .chapter-label{
        font-size: @label-size;
        margin-bottom: .3em;
        margin-left: .4em;
    }

}

button{
    .cs-btn;

    &.generate{
            font-size: @label-size;
        
            width: 20%;
            margin: .3em auto;
        }

        &.generate{
            width: 20%;
            margin: .3em auto;
        }
}



.form-chapter{

    grid-template-columns: 1fr 5fr 2fr;
    row-gap: @row-gaps-size;


    input[type="text"], div.dp__main{
        .cs-input;
        height: 2em;
        margin-right: .2em;
    }

    .groups{
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-start: 1;
        grid-column-end:3;
        row-gap: @row-gaps-size;
        min-width: 4em;
    }

    .group-add-button{
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .3em;

        grid-column-start: 1;
        grid-column-end: 4;

        font-size: @label-size;
    }

    .group-label{
        grid-column-end: 3;

        button::after{
            margin-right: .2em;
        }

        // font-size: 1.5em;
    }

    .imgur-preview{
        // background-color: green;
        height: 20em;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 3;
    }

}