@import './cs16.less';

main{
    display: flex;
    flex-direction: column;
}

.main-form{
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: .1em;
    row-gap: .3em;
    
    input{
      .cs-input;
    }
  
    label{
      display: flex;
      flex-direction: down;
      padding-bottom: .2em;
    }

  }

  input.invalid{
    border-color: red;
  }

  button.new-chapter{
    width: 30%;
    margin: 0 auto;
  }