@import './base.css';

#app {
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

header{
  width: 100%;
}

main{
  width: 100%;
}

.main-form{
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: .1em;
  row-gap: .3em;
  

  label{
    display: flex;
    flex-direction: down;
    padding-bottom: .2em;
  }
}

